$pink-dark: #AD0316;
$text-pink:#FF545F;
$pink-gradient:linear-gradient(180deg, #FF8388 0%, #FE676E 100%);
$pink-stroke:linear-gradient(180deg, rgba(255, 131, 136, 0.5) 0%, rgba(254, 103, 110, 0.5) 100%);
$black:#000000;
$black-22:#222222;
$white:#FFFFFF;
$gray:#616161;
$gray-light:#A8A8A8;